<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.algonquin.cst2335final">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-feature android:name="android.hardware.location.gps" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LivingRoomActivity" />
        <activity android:name=".Lamp1Activity" />
        <activity android:name=".Lamp2Activity" />
        <activity android:name=".Lamp3Activity" />
        <activity android:name=".LivingFragmentActivity" />
        <activity android:name=".LivingRoomDatabaseHelper" />
        <activity android:name=".LivingRoomMessageDetails" />
        <activity android:name=".TVActivity" />
        <activity android:name=".BlindsActivity" />
        <activity android:name=".KitchenActivity" />
        <activity android:name=".FridgeActivity" />
        <activity
            android:name=".HouseActivity"
            android:label="@string/HouseActivityName" />
        <activity android:name=".AutoActivity" />
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MicrowaveActivity" />
        <activity android:name=".KitchenLightActivity" />

        <activity android:name=".AutoTempActivity" />
        <activity android:name=".AutoTempDisplay" />
        <activity android:name=".HouseNumberPickers" />
        <activity android:name=".HouseWeather" />
        <activity android:name=".House_Fragment_garage" />
        <activity android:name=".House_Fragment_Temperature"></activity>

        <activity android:name=".HouseFragmentDetails" />
        <activity android:name=".AutoTempActivity" />
        <activity android:name=".AutoTempDisplay" />

        <activity android:name=".AutoLight" />
        <activity android:name=".AutoFMActivity" />
        <activity android:name=".AutoFMPhoneFrameLayout" />
        <activity android:name=".AutoFMFragment"></activity>


    </application>

</manifest>